body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

.headline-section h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-section input[type="text"] {
  width: calc(100% - 20px); /* Adjusting for padding */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.input-section input[type="text"]:focus {
  outline: none;
  border-color: #4caf50;
}

#add-task {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#add-task:hover {
  background-color: #45a049;
}

.tasks-list {
  list-style-type: none;
  padding: 0;
}

.tasks-list li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.tasks-list li span {
  font-size: 18px;
}

.tasks-list li button {
  background-color: #ff5252;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tasks-list li button:hover {
  background-color: #f44336;
}

.task-done {
  background-color: lightgreen;
}
